* {
    scroll-behavior: smooth;
}

html {
    font-size: 18px;

    @media (max-width: $xl) {
        font-size: 16px;
    }
}

body {
    background-image: url('../img/main-bg.png');
}

.container{
    @media (max-width: $md) {
    padding: 0 !important;
    max-width: 100% !important;
    }
}

.section-padding {
    padding-left: 60px;
    padding-right: 60px;

    @media (max-width: $xl) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (max-width: $lg) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (max-width: $sm) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.section-white {
    background-color: #fff;
}

.section-gray {
    background-color: $color-gray;
}

.section-yellow {
    background-color: $accent-color;
}

.section-black {
    background-color: $color-dark;
}

.section-lightyellow {
    background-color: #fef7d9;
}

.section-bordered {
    border-radius: 20px;
}

.black-heading {
    padding-top: 60px;
    padding-bottom: 40px;

    @media (max-width: $md) {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    &__title {
        @include flex;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        background-color: $color-dark;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        color: #fff;
        @include font('Roboto-Regular', normal, 1.333rem, $accent-color);
        padding: 10px;
        text-align: center;
        text-transform: uppercase;

        @media (max-width: $lg) {
            font-size: 16px;
        }

        @media (max-width: $md) {
            font-size: 14px;
        }
    }
}
