.top-line {
    padding-top: 10px;
    padding-bottom: 10px;
    @include flex(center, space-between);
    background-color: #fff;
}

.header-logo {    
    @include flex(center, space-between);
       
    &__brain {
        max-height: 150px;
        margin-right: 20px;

        @media (max-width: $xl) {
            max-height: 120px;
        }

        @media (max-width: $lg) {
            max-height: 90px;
        }

        @media (max-width: $md) {
            max-height: 70px;
        }
    }

    &__text {
         margin-right: 20px;

        @media (max-width: $xl) {
            max-height: 60px;
        }

        @media (max-width: $lg) {
            max-height: 40px;
        }

        @media (max-width: $md) {
            max-height: 35px;
        }
    }
}

.header-socials {
    @media (max-width: $sm) {
        display: none;
    }
}

.header-icons {
    @include flex(center, space-between);

    &__item {
        width: 100%;
        text-align: center;
        transition: $transition;
      
        @media (max-width: $xl) {
            svg>image {
                width: 30px;
            }
        }

        @media (max-width: $lg) {
            svg>image {
                width: 25px;
            }
        }
        
        @media (hover ) {
            a:hover {
                opacity: 0.7;
            }
        }
    }

    &__phone {
        @include font('Roboto-Black', normal, 1.333rem, $color-dark);
        transition: $transition;

        @media (hover ) {

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.header-call {
    border: 2px solid $accent-color;
    @include font('Roboto-Black', normal, 1.333rem, $color-dark);
    text-transform: uppercase;
    margin-right: 15px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: $transition;

    @media (max-width: $sm) {
        display: none;
    }

    &:hover {
        background-color: $accent-color;
        border: 2px solid $color-dark;
        color: #fff;
        box-shadow: 0 5px 20px rgba(140, 140, 140, 0.25);
    }

    @media (max-width: $xl) {
        font-size: 18px;
    }

    @media (max-width: $lg) {
        font-size: 16px;
    }

    @media (max-width: $md) {
        font-size: 14px;
    }
}

.mobile-menu {
    &__wrapper {
        background-color: #fff;
    }
    
    text-align: right;
    transition: $transition;
    opacity: 0;
    height: 0;
    visibility: hidden;
    
    &.active {
        opacity: 1;
        height: 180px;
        visibility: visible;

        @media (max-width: $sm) {
            height: 240px;
    
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 10px;
    }

    &__link {
        @include font('Roboto-Bold', normal, 20px, $color-dark);
    }

    & > hr {
        display: none;

        @media (max-width: $sm) {
            height: 2px;
            width:100%;
            background-color: $accent-color;
            margin: 10px auto 0  auto;
            opacity: 0.3;
        }
    }  
}
 
.mobile-footer {
    display: none;
    @media (max-width: $sm) {
        padding-top:10px;
        @include flex(center, space-between);
    }

    .header-call_mobile, .header-socials_mobile {
        display: none;

        @media (max-width: $sm) {
            display: initial;
            margin: 0;
        }   
    }
}

.header-advertisment {
    position: relative;
    background-color: $accent-color;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    h1 {
        @include font('Roboto-Black', normal, 1.778rem, #fff);
    }
}