.pricing {

    &-list {
        padding-bottom: 40px;
    }

    .list-item {
        margin-bottom: 1.5rem;

        .item-row {
            padding: 10px;
            @include flex(center, flex-start);
            margin-bottom: 15p;
        }

        &__number {
            @include flex;
            width: 4.556rem;
            height: 4.556rem;
            background-color: $accent-color;
            border-radius: 50%;
            @include font('Roboto-Black', normal, 3rem, #fff);
            margin-right: 30px;
            flex-shrink: 0;
        }

        &__text {
            p {
                @include font('Roboto-Bold', normal, 1rem, $color-dark);
                padding-bottom: 10px;
            }
            span {
                
                @include font('Roboto-Black', normal, 1.1rem, $accent-color);
                border-bottom: 2px solid $accent-color;
                cursor: pointer;

                @media(hover) {
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
        
        .description {

            &-list {
                @include font('Roboto-Bold', normal, 1rem, $color-dark);
                transition: $transition;
                position: relative;
                visibility: hidden;
                height: 0;
                opacity: 0;
                overflow: hidden;

                li {
                    padding: 3rem;
                    border-radius: 20px;
                    background-color: $color-gray;
                    margin-bottom: 10px;

                    @media (max-width: $lg) {
                        padding: 2rem;
                    }
                }

                &.open {
                    visibility: visible;
                    height: auto;
                    opacity: 1;

                }
            }

            &-item {
                @include flex(center, space-between);
                
                @media (max-width: $lg) {
                    flex-direction: column;
                    align-items: flex-start;
                }

                &__image {
                    margin-right: 30px;
                    width: 75px;
                    flex-shrink: 0;
                    text-align: center;

                    @media (max-width: $lg) {
                        display: none;
                    }
                }

                &__text {
                    @include font('Roboto-Bold', normal, 0.9rem, $color-dark);
                    padding-right: 10px;

                    strong {
                        @include font('Roboto-Black', normal, 1.1rem, $color-dark);
                    }

                    @media (max-width: $lg) {
                        flex-direction: column;
                        align-items: flex-start;
                        margin-bottom: 30px;
                    }
                }

                &__price {
                    @include flex;
                    background-color: $accent-color;
                    border-radius: 4px;
                    padding: 10px;
                    min-width: 140px;
                    @include font('Roboto-Bold', normal, 1rem, $color-dark);
                }

            }
        }
    }
}