{% set items = [
    {
        title: 'Корпоратив',
        src: '/assets/img/when/corporat.webp',
        description: 'Если необходимо провести оригинальный праздник, который запомнится сотрудникам и партнёрам предприятия, квиз – лучший выбор! Можно провести его на общую тему или сделать на заданную отраслевую тематику. Любую узкую тему мы сможем превратить в интересную игру с ребусами, командными заданиями и мультимедиа вопросами на основе любимых песен и фильмов.'
    },
    {
        title: 'День рождения',
        src: '/assets/img/when/birthday.webp',
        description: 'Хотите сделать запоминающийся подарок человеку, у которого всё есть? Подарите ему квиз на праздник, в который будет весело и интересно играть всем гостям и имениннику. У Вас день рождения? Отлично – сделайте незабываемый праздник для своих гостей!'
    },
    {
        title: 'Мальчишник или девичник',
        src: '/assets/img/when/party.webp',
        description: 'Добавьте перчинку к этому событию без компромата и опасности для будущей свадьбы. Закажите квиз Gвоздь 18+ и порадуйте себя и своих друзей или подруг.'
    },
    {
        title: 'Детские праздники',
        src: '/assets/img/when/duck.webp',
        description: 'Дети слишком взрослые, чтобы бегать с мыльными пузырями за аниматором? Организуйте для них квиз по мотивам любимых мультфильмов, истории про Гарри Поттера или супергероев Marvel.'
    },
    {
        title: 'Выходные с друзьями',
        src: '/assets/img/when/party.webp',
        description: 'Хотите провести выходные за интересным занятием с близкими людьми? Закажите увлекательный квиз на общую тему, «жаркий» Gвоздь 18+, или что-то по своим интересам и хобби.'
    },
    {
        title: 'Свадьба',
        src: '/assets/img/when/wedding.webp',
        description: 'Надоели дурацкие конкурсы с бутылками и карандашами? Закажите квиз на интересующую тему. При желании включим в игру адаптированные под формат квиза вопросы про жениха и невесту.'
    },
    {
        title: 'Привлечь трафик в ресторан',
        src: '/assets/img/when/food.webp',
        description: 'Открыли новый ресторан, но всё никак не удаётся привлечь посетителей? Организуйте квиз на интересную тему, и гости приедут со всех концов города.'
    },
    {
        title: 'Отраслевое событие, фестиваль или конференция ',
        src: '/assets/img/when/butterfly.webp',
        description: 'Внесём разнообразие в скучные однообразные программы и поможем повысить конверсию посетителей через тематический улётный квиз.'
    }
] %}

<section class="when">
    <div class="container">
        <div class="section-white">
            <div class="when-row">
                <div class="when-col when-col_white">
                    <div class="when-col__title when-col__title_left">
                        <span>Когда</span>
                    </div>
                    <div class="when-description">
                        <img src="/assets/img/when/butterfly.webp" class="when-description__image" alt="description"/><!-- /.img when-description__image -->
                        <p class="when-description__text">
                            Если необходимо провести оригинальный праздник,
                            который запомнится сотрудникам и партнёрам предприятия,
                            квиз – лучший выбор! Можно провести его на общую тему или
                            сделать на заданную отраслевую тематику. Любую узкую тему
                            мы сможем превратить в интересную игру с ребусами, командными
                            заданиями и мультимедиа вопросами на основе любимых песен и фильмов
                        </p><!-- /.when-description__text -->
                    </div>
                    <!-- /.when-description -->

                </div>
                <div class="when-col when-col_yellow">
                    <div class="when-col__title when-col__title_right">
                        <span>нужен квиз</span>
                    </div>
                    <div class="when-col__title when-col__title_mobile">
                        <span>когда нужен квиз</span>
                    </div>

                    <ul class="when-list">
                        {% for item in items %}
                        <li class="when-list__item {% if (loop.index == 1) %}active{% endif %}" data-description="{{ item.description }}">
                            <div class="item-wrapper">
                                <img src="{{ item.src }}" alt="{{ item.title }}" class="when-list__image">
                                <span class="when-list__title" >{{ item.title }}</span>
                            </div>
                            <p class="when-list__description">
                                {{ item.description }}
                            </p>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div><!-- / .when-row -->



<!--            <div class="when-wrapper"></div>-->
<!--            <h1 class="when-title">-->
<!--                <span>Когда</span> нужен квиз-->
<!--            </h1>-->
        </div><!-- / .swiper-white -->
    </div>
</section>