<section class="example">
  <div class="container">
    <div class="section-white">
      <div class="example-row">
        <div class="col-left">
          <h1 class="example-heading">пример квиза</h1>
          <h2 class="example-subheading">Вы можете скачать пример готового квиза низкой
            сложности из 25 вопросов по теме «1980-1990е», сыгранный в ноябре 2022 года без
            применения игровой механики.
          </h2>
          <button class="example-button">Скачать архив</button>
          <span class="example-more" id="example-more">Подробнее</span>
        </div>
        <div class="col-right">
          <img src="assets/img/big-brain.webp" alt="brain" class="example-image">
        </div>
      </div>

    </div>
  </div>
</section>