<section class="example">
  <div class="container">
    <div class="section-white">
      <div class="example-row">
        <div class="col-left">
          <h1 class="example-heading">пример квиза</h1>
          <h2 class="example-subheading">Вы можете скачать пример готового квиза низкой
            сложности из 25 вопросов по теме «1980-1990е», сыгранный в ноябре 2022 года без
            применения игровой механики.
          </h2>
          <a href="https://www.dropbox.com/s/z26agp3lcihscy3/QuizExample25.zip?dl=0" target="_blank" class="example-button">Скачать архив</a>
          <span class="example-more" id="example-more">Подробнее</span>
        </div>
        <div class="col-right">
          <img src="assets/img/big-brain.webp" alt="brain" class="example-image">
        </div>
      </div><!-- /.example-row  -->
      <div class="section-padding">
        <div class="example-list" id="example-list">
          <div class="example-item section-gray section-bordered">
            <h2 class="example-item__title">В комплект входят:</h2>
            <ol class="example-item__list">
              <li><span>Презентация с 6 турами – для демонстрации во время квиза.</span></li>
              <li><span>Текст-подсказка – для ведущего.</span></li>
              <li><span>Бланки ответов – для заполнения командами-участниками во время квиза.</span></li>
              <li><span>Ответы на квиз – для проверки счётной комиссией.</span></li>
              <li><span>Таблица для учёта баллов – для заполнения счётной комиссией.</span></li>
            </ol>
          </div><!-- /.example-item  -->
          <div class="example-item section-lightyellow section-bordered">
            <h2 class="example-item__title">Образец квиза состоит из 6 туров:</h2>
            <ol class="example-item__list">
              <li><span>Блиц 3х10 баллов +10 баллов за угаданную тему.</span></li>
              <li><span>Блиц 3х20 баллов +20 баллов за угаданную тему.</span></li>
              <li><span>Логические задачки 4х30 баллов.</span></li>
              <li><span>Слушаем! 4х25 баллов.</span></li>
              <li><span>Матрица 2 темы по 10/20/30/40 баллов +10 баллов за все правильные ответы в теме.</span></li>
              <li><span>Контрольный выстрел 1х50 баллов.</span></li>
            </ol>
          </div><!-- /.example-item  -->
        </div><!-- /.example-list -->
    </div><!-- /.section-padding -->
  </div>
</section>

