<section class="section-gallery">
    <div class="container">
        <div class="section-white">
       
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="/assets/img/gallery/1.webp" alt="slide">
                        <div class="swiper-slide-description">
                            <div class="swiper-slide-description__item">
                                <span>
                                    Гвоздатый квиз по Гарри-Поттеру
                                </span> 
                            </div>
                        </div><!-- / .swiper-slide-description -->
                    </div>
                    <div class="swiper-slide">
                        <img src="/assets/img/gallery/2.webp" alt="slide">
                        <div class="swiper-slide-description">
                            <div class="swiper-slide-description__item">
                                <span>
                                    Гвоздатый квиз по Гарри-Поттеру
                                </span> 
                            </div>
                        </div><!-- / .swiper-slide-description -->
                    </div>
                    <div class="swiper-slide">
                        <img src="/assets/img/gallery/3.webp" alt="slide">
                        <div class="swiper-slide-description">
                            <div class="swiper-slide-description__item">
                                <span>
                                    Гвоздатый квиз по Гарри-Поттеру
                                </span> 
                            </div>
                        </div><!-- / .swiper-slide-description -->
                    </div>
                    <div class="swiper-slide">
                        <img src="/assets/img/gallery/4.webp" alt="slide">
                        <div class="swiper-slide-description">
                            <div class="swiper-slide-description__item">
                                <span>
                                    Гвоздатый квиз по Гарри-Поттеру
                                </span> 
                            </div>
                        </div><!-- / .swiper-slide-description -->
                    </div>
                    <div class="swiper-slide">
                        <img src="/assets/img/gallery/5.webp" alt="slide">
                        <div class="swiper-slide-description">
                            <div class="swiper-slide-description__item">
                                <span>
                                    Гвоздатый квиз по Гарри-Поттеру
                                </span> 
                            </div>
                        </div><!-- / .swiper-slide-description -->
                    </div>
                    <div class="swiper-slide">
                        <img src="/assets/img/gallery/6.webp" alt="slide">
                        <div class="swiper-slide-description">
                            <div class="swiper-slide-description__item">
                                <span>
                                    Гвоздатый квиз по Гарри-Поттеру
                                </span> 
                            </div>
                        </div><!-- / .swiper-slide-description -->
                    </div>
                    <div class="swiper-slide">
                        <img src="/assets/img/gallery/7.webp" alt="slide">
                        <div class="swiper-slide-description">
                            <div class="swiper-slide-description__item">
                                <span>
                                    Гвоздатый квиз по Гарри-Поттеру
                                </span> 
                            </div>
                        </div><!-- / .swiper-slide-description -->
                    </div>
                    <div class="swiper-slide">
                        <img src="/assets/img/gallery/8.webp" alt="slide">
                        <div class="swiper-slide-description">
                            <div class="swiper-slide-description__item">
                                <span>
                                    Гвоздатый квиз по Гарри-Поттеру
                                </span> 
                            </div>
                        </div>
                    </div><!-- / .swiper-slide -->
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            
            </div>
        </div><!-- / .section-white -->
    </div><!-- / .container -->
</section><!-- /.section-gallery -->