{% set items = [
    {
        title: 'Блиц-разминка',
        src: '/assets/img/structure/lightning.webp',
        description: '3х10, 3х20, 3х30 баллов + в каждом конкурсе дополнительно 10/20/30 баллов за корректное указание темы конкурса. Вопросы, как правило, можно «раскрутить» логически во время обсуждения командой. Без вычитания баллов.',
        stickers: [
            { title: 'Халява', src: '/assets/img/structure/sticker-free.webp' },        
            { title: 'Умножение x2', src: '/assets/img/structure/sticker-x2.webp' },        
            { title: 'Умножение x4', src: '/assets/img/structure/sticker-x4.webp' }        
        ]
    },
    {
        title: 'Слушаем!',
        src: '/assets/img/structure/hear.webp',
        description: 'Вопросы на основе известных музыкальных композиций по заданной теме. 10/20/30/40 баллов. Без вычитания баллов.',
        stickers: [
            { title: 'Халява', src: '/assets/img/structure/sticker-free.webp' },        
            { title: 'Умножение x2', src: '/assets/img/structure/sticker-x2.webp' },        
            { title: 'Умножение x4', src: '/assets/img/structure/sticker-x4.webp' }        
        ]
    },
    {
        title: 'Смотрим!',
        src: '/assets/img/structure/watch.webp',
        description: 'Вопросы на основе известных фильмов, телепередач, рекламы, сериалов. 10/20/30/40 баллов. Без вычитания баллов.',
        stickers: [
            { title: 'Халява', src: '/assets/img/structure/sticker-free.webp' },        
            { title: 'Умножение x2', src: '/assets/img/structure/sticker-x2.webp' },        
            { title: 'Умножение x4', src: '/assets/img/structure/sticker-x4.webp' }        
        ]
    },
    {
        title: 'Мультимедиа-микс',
        src: '/assets/img/structure/multimedia.webp',
        description: 'Комбо из музыкальных и видео-вопросов, часто объединённых общей темой. 10/20/30/40 баллов. Без вычитания баллов.',
        stickers: [
            { title: 'Халява', src: '/assets/img/structure/sticker-free.webp' },        
            { title: 'Умножение x2', src: '/assets/img/structure/sticker-x2.webp' },        
            { title: 'Умножение x4', src: '/assets/img/structure/sticker-x4.webp' }        
        ]
    },
    {
        title: 'Включаем логику!',
        src: '/assets/img/structure/brain.webp',
        description: 'Логические задачи на основе ребусов, карт ассоциаций, шарад, загадок и пословиц. 10/20/30/40 баллов. Без вычитания баллов',
        stickers: [
            { title: 'Халява', src: '/assets/img/structure/sticker-free.webp' },        
            { title: 'Умножение x2', src: '/assets/img/structure/sticker-x2.webp' },        
            { title: 'Умножение x4', src: '/assets/img/structure/sticker-x4.webp' }        
        ]
    }, 
    {
        title: 'Квест',
        src: '/assets/img/structure/quest.webp',
        description: 'Наше ноу-хау в сфере квизов, в котором мы даём стартовый вопрос и подсказки к следующим, для получения ответов на которые бывает необходимо взламывать шифры, решать кроссворды, рисовать схемы, собирать из спичек фигуры и т.д.
        10/20/40/80 баллов. Без вычитания баллов. Время даётся на весь конкурс без разбивки на вопросы до 15 минут. Первая сдавшая команда +20 баллов.',
        stickers: []
    },
    {
        title: 'Матрица!',
        src: '/assets/img/structure/matrix.webp',
        description: 'Как правило текстовые вопросы, объединённые одной темой, которые можно «раскрутить» во время обсуждения командой.
        10/20/30/40 баллов. С вычитанием баллов. +10 баллов за все корректные ответы в теме',
        stickers: [
            { title: 'Умножение x2', src: '/assets/img/structure/sticker-x2.webp' },        
            { title: 'Умножение x4', src: '/assets/img/structure/sticker-x4.webp' }        
        ]
    }, 
    {
        title: 'Голландский аукцион',
        src: '/assets/img/structure/flower.webp',
        description: 'Мы даём по очереди несколько подсказок. Команда, ответившая правильно после первой подсказки, получает 50 баллов, после пятой подсказки – только 10.
        50-40-30-20-10 баллов. С вычитанием баллов',
        stickers: [
            { title: 'Умножение x2', src: '/assets/img/structure/sticker-x2.webp' },        
            { title: 'Умножение x4', src: '/assets/img/structure/sticker-x4.webp' }        
        ]
    }, 
    {
        src: '/assets/img/structure/bullet.webp',
        description: 'Вопросы повышенной сложности стоимостью 50 баллов каждый, которые можно «раскрутить» логически. Часто объединённые одной общей темой.
        С вычитанием баллов',
        stickers: [
            { title: 'Халява', src: '/assets/img/structure/sticker-free.webp' },        
            { title: 'Умножение x2', src: '/assets/img/structure/sticker-x2.webp' },        
            { title: 'Умножение x4', src: '/assets/img/structure/sticker-x4.webp' }        
        ]
    },
    {
        title: 'Троян',
        src: '/assets/img/structure/trojan.webp',
        description: 'Вопросы по 100 баллов: повышенной сложности с неожиданными элементами, либо построенные на принципах абсурда (например, мы можем в виде сценария хоррора описать сказку «Колобок»).
        С вычитанием баллов',
        stickers: []
    } 
    

  ] %}

<section class="structure" id="structure">
    <div class="container">
        <div class="section-padding section-white">

            <div class="structure-heading">
                <h1 class="structure-heading__title">Структура квиза</h1>
            </div><!-- /.structure-heding -->

            <div class="structure-description">
                <p>Состав конкурсов для каждого квиза зависит от его длительности, тематики и запроса Заказчика. В каких-то квизах 
                    будет больше мультимедиа заданий, где-то логических ребусов, а кто-то любит «энциклопедичный» подход «многобукв».
                    В любом случае, ключевая особенность Гвоздатого Квиза – это возможность логически «раскрутить» большинство вопросов,
                    что делает игру интересной не только для экспертов и всезнаек, но и для обычных участников. 
                </p>
                <p>
                    Дополнительно, в случае заказа не только пакета вопросов, но и квиза «под ключ» с проведением, вы сможете воспользоваться
                    нашей уникальной игровой механикой с наклейками для мультипликации баллов и системами рейтингов.
                </p>
                <p>Вопросы грейдируются по сложности от 10 до 100 баллов. В некоторых блоках бывают дополнительные вопросы,
                     в рамках которых бывает необходимо угадать, например, объединяющую тему конкурса. В части конкурсов баллы 
                     за неправильный ответ вычитаются, в части нет. Время на обсуждение командой составляет от 30 до 180 секунд
                      в зависимости от сложности вопроса.
                </p>
                <p>
                    Традиционно, мы формируем квизы, собирая от 5 до 10 туров из следующих блоков, адаптированных под конкретный запрос:
                </p>
            </div><!-- /.structure-description -->

            <div class="structure-list">
                {% for item in items %}
                <div class="structure-item {% if (loop.index == 1) %} active {% endif %}">
                    <div class="item-row">   
                        <div class="structure-item__icon">
                            <img src="{{ item.src }}" alt="icon">
                        </div>
                        <div class="structure-item__title">{{ item.title }}</div>
                        <div class="structure-item__stickers">
                            {% for sticker in item.stickers %}
                            <div class="sticker-image">
                                <img src="{{ sticker.src }}" alt="icon" data-title="{{ sticker.title }}"  class="sticker-image__image">
                                <div class="sticker-image__description"></div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                    <p class="structure-item__description">{{ item.description }}</p>
                </div>
                {% endfor %}
            </div><!-- /.structure-list -->
            
        </div>
    </div>
</section>