<section class="testimonials">
    <div class="container">
        <div class="section-padding section-white">
            <div class="testimonials-bordered section-gray">

                <div class="testimonials-description">
                    <img src="/assets/img/stars-testimonials.webp" alt="rating" class="testimonials-description__stars">
                    <p class="testimonials-description__text">
                        Мы провели более 100 квизов на самые разные темы, от сериала «Секс в большом городе» для
                        девушек с коктейлями Космополитан, до отраслевой игры на тему «Нефтепереработка» для суровых
                        сибирских нефтяников, и к каждому квизу подходили с максимальным вниманием и ответственностью.
                        Нам всегда приятно, когда игры вызывают живые эмоции и восторг участников. Будем рады видеть и Ваш
                        отзыв в этом списке:
                    </p><!-- /.testimonials-description__text -->
                </div><!-- /.testimonials-description -->

                <div class="tesimonials-slider swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="testimonials-slide">
                                <img src="/assets/img/testimonial-empty.webp" alt="photo" class="testimonials-slide__photo">
                                <p class="testimonials-slide__description">
                                    Мы провели более 100 квизов на самые разные темы, от сериала «Секс в большом городе» для
                                    девушек с коктейлями Космополитан, до отраслевой игры на тему «Нефтепереработка» для суровых
                                    сибирских нефтяников, и к каждому квизу подходили с максимальным вниманием и ответственностью.
                                    Нам всегда приятно, когда игры вызывают живые эмоции и восторг участников. 
                                </p>
                            </div><!-- /.testimonials-slide -->
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonials-slide">
                                <img src="/assets/img/testimonial-empty.webp" alt="photo" class="testimonials-slide__photo">
                                <p class="testimonials-slide__description">
                                    Мы провели более 100 квизов на самые разные темы, от сериала «Секс в большом городе» для
                                    девушек с коктейлями Космополитан, до отраслевой игры на тему 
                                </p>
                            </div><!-- /.testimonials-slide -->
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonials-slide">
                                <img src="/assets/img/testimonial-empty.webp" alt="photo" class="testimonials-slide__photo">
                                <p class="testimonials-slide__description">
                                    Мы провели более 100 квизов на самые разные темы, от сериала «Секс в большом городе» для
                                    девушек с коктейлями Космополитан, до отраслевой игры на тему «Нефтепереработка» для суровых
                                    сибирских нефтяников, и к каждому квизу подходили с максимальным вниманием и ответственностью.

                                </p>
                            </div><!-- /.testimonials-slide -->
                        </div>
                       

                        
                      

                    </div>
                        <!-- If we need navigation buttons -->
                        <div class="testimonials-slider__prev"></div>
                        <div class="testimonials-slider__next"></div>
                </div><!-- /.tesimonials-slider -->

            </div><!-- /.testimonials-bordered -->
        </div>
    </div>
</section>